form action="/products/new" method="post"
    input type="text" name="title" placeholder="Titel på produkt"
    input type="text" name="seller_id" placeholder="Id för säljare"
    input type="submit" value="Skapa Produkt"